.full-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 0;
}
.search-container {
    padding: 5px;
    flex-flow: 0;
    background: royalblue;
}
.result-container {
    flex: 1;
    max-height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
#myTabContent{
    overflow: auto;
}
.fixed-table th {
    position: sticky;
    top: 0;
}

.toggle-btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}
.hidden {
    display: none;
}
.chart-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.canvas-container {
    width: calc(50% - 5px);
}

.checkbox-container {
    margin-right: 5px;

}