.full-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.item-container {
    flex: 1;
    overflow-y: auto;
    padding: 5px;
}

.info-container {
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.search-container {
    background: white;
}

.type-container {
    margin-top: 5px;
    background: white;
}

.time-container {
    margin-top: 5px;
    background: white;
}

.menu-item {
    flex-shrink: 0;
    padding: 5px;
    margin-bottom: 5px;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(0, 127, 255, 0.5);
    background: rgba(100, 196, 237, 0.5);
    display: flex;
}

.item-img-container {
    flex-basis: 20%;
}

.detail-info-container {
    margin-left: 5px;
    ;
    flex-grow: 1;
}

.number-container {
    margin-left: 5px;
}

.op-container {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item-img {
    max-width: 100%;
    max-height: 100%;
}