{% extends "layout.html" %}
{% set active_page = "cart" %}
{% set url = "customer" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
{% endblock %}


{% block content %}
    <div class="cart-container">
        <div class="item-container">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>名稱</th>
                        <th>數量</th>
                        <th>價格</th>
                        <th>備註</th>
                        <th>總共</th>
                        <th>其他</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>紅茶</td>
                        <td>
                            <input type="number" name="" id="">
                        </td>
                        <td>
                            99
                        </td>
                        <td>
                            <input type="text" name="" id="" class="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <button class="btn btn-primary">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>紅茶</td>
                        <td>
                            <input type="number" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <input type="text" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <button class="btn btn-primary">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>紅茶</td>
                        <td>
                            <input type="number" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <input type="text" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <button class="btn btn-primary">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>紅茶</td>
                        <td>
                            <input type="number" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <input type="text" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <button class="btn btn-primary">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>紅茶</td>
                        <td>
                            <input type="number" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <input type="text" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <button class="btn btn-primary">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>紅茶</td>
                        <td>
                            <input type="number" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <input type="text" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <button class="btn btn-primary">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>紅茶</td>
                        <td>
                            <input type="number" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <input type="text" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <button class="btn btn-primary">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>紅茶</td>
                        <td>
                            <input type="number" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <input type="text" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <button class="btn btn-primary">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>紅茶</td>
                        <td>
                            <input type="number" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <input type="text" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <button class="btn btn-primary">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>紅茶</td>
                        <td>
                            <input type="number" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <input type="text" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <button class="btn btn-primary">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>紅茶</td>
                        <td>
                            <input type="number" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <input type="text" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <button class="btn btn-primary">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>紅茶</td>
                        <td>
                            <input type="number" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <input type="text" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <button class="btn btn-primary">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>紅茶</td>
                        <td>
                            <input type="number" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <input type="text" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <button class="btn btn-primary">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>紅茶</td>
                        <td>
                            <input type="number" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <input type="text" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <button class="btn btn-primary">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>紅茶</td>
                        <td>
                            <input type="number" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <input type="text" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <button class="btn btn-primary">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>紅茶</td>
                        <td>
                            <input type="number" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <input type="text" name="" id="">
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <button class="btn btn-primary">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="price-container">
            價格: <span>490</span>元
        </div>
        <div class="op-container">
            <div class="form-inline">
                取餐時間: <input type="datetime-local" id="" class="form-control">
            </div>
            <div class="btn-container">
                <button class="btn btn-primary">Clear</button>
                <button class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
{% endblock %}