{% extends "layout.html" %}
{% set url = "customer" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forget-password.css') }}">
{% endblock %}

{% block content%}
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">請輸入註冊時使用之email</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">User name</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    <small id="user-name-help" class="form-text text-muted">請輸入帳號</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}