{% extends "layout.html" %}
{% set active_page = "history" %}

{% block file %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
{% endblock %}

{% block header %}
{% include 'component/boss-header.html' %}
{% endblock %}

{% block content %}
    <div class="full-container">
        <div class="search-container">
            <div class="form-group">
                <label for="start-time">開始時間</label>
                <input type="datetime-local" class="form-control" id="start-time">
            </div>
            <div class="form-group">
                <label for="end-time">結束時間</label>
                <input type="datetime-local" class="form-control" id="end-time">
            </div>
            <button class="btn btn-primary">查詢</button>
        </div>
        <div class="result-container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="history-tab" data-toggle="tab" href="#history" role="tab">歷史點菜單</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">餐點銷售情況</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">年齡層與性別的銷售情況</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="history" role="tabpanel" >
                    <table class="table fixed-table">
                        <thead class="thead-dark">
                            <tr>
                                <th>序號</th>
                                <th>下訂單時間</th>
                                <th>數量及項目</th>
                                <th>備註</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    2019/10/10<br>
                                    09:00
                                </td>
                                <td>
                                    1 * 巧克力吐司<br>
                                    2 * 冰紅茶
                                </td>
                                <td>
                                    紅茶要去冰
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    2019/10/10<br>
                                    09:00
                                </td>
                                <td>
                                    1 * 巧克力吐司<br>
                                    2 * 冰紅茶
                                </td>
                                <td>
                                    紅茶要去冰
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    2019/10/10<br>
                                    09:00
                                </td>
                                <td>
                                    1 * 巧克力吐司<br>
                                    2 * 冰紅茶
                                </td>
                                <td>
                                    紅茶要去冰
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    2019/10/10<br>
                                    09:00
                                </td>
                                <td>
                                    1 * 巧克力吐司<br>
                                    2 * 冰紅茶
                                </td>
                                <td>
                                    紅茶要去冰
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    2019/10/10<br>
                                    09:00
                                </td>
                                <td>
                                    1 * 巧克力吐司<br>
                                    2 * 冰紅茶
                                </td>
                                <td>
                                    紅茶要去冰
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    2019/10/10<br>
                                    09:00
                                </td>
                                <td>
                                    1 * 巧克力吐司<br>
                                    2 * 冰紅茶
                                </td>
                                <td>
                                    紅茶要去冰
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    2019/10/10<br>
                                    09:00
                                </td>
                                <td>
                                    1 * 巧克力吐司<br>
                                    2 * 冰紅茶
                                </td>
                                <td>
                                    紅茶要去冰
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    2019/10/10<br>
                                    09:00
                                </td>
                                <td>
                                    1 * 巧克力吐司<br>
                                    2 * 冰紅茶
                                </td>
                                <td>
                                    紅茶要去冰
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    2019/10/10<br>
                                    09:00
                                </td>
                                <td>
                                    1 * 巧克力吐司<br>
                                    2 * 冰紅茶
                                </td>
                                <td>
                                    紅茶要去冰
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    2019/10/10<br>
                                    09:00
                                </td>
                                <td>
                                    1 * 巧克力吐司<br>
                                    2 * 冰紅茶
                                </td>
                                <td>
                                    紅茶要去冰
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    2019/10/10<br>
                                    09:00
                                </td>
                                <td>
                                    1 * 巧克力吐司<br>
                                    2 * 冰紅茶
                                </td>
                                <td>
                                    紅茶冰快加到飽
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
            </div>

        </div>
    </div>
{% endblock %}