{% extends "layout.html" %}
{% set active_page = "menu" %}
{% set url = "customer" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
{% endblock %}


{% block content %}
    <div class="full-container">
        <div class="item-container">
            <div class="menu-item">
                <div class="item-img-container">
                    <img src="http://www.foodsafetylife.com/laravel-filemanager/photos/shares/59f02f0f58ce2.jpg" alt="" class="item-img">
                </div>
                <div class="detail-info-container">
                    名稱: 紅茶 <br>
                    價格: 100 <br>
                    說明: 這是一杯好喝的紅茶 <br>
                </div>
                <div class="number-container">
                    <span>數量</span>
                    <input type="number" class="form-control">
                </div>
                <div class="op-container">
                    <button class="btn btn-primary">加入</button>
                </div>
            </div>
            <div class="menu-item">
                <div class="item-img-container">
                    <img src="http://www.foodsafetylife.com/laravel-filemanager/photos/shares/59f02f0f58ce2.jpg" alt="" class="item-img">
                </div>
                <div class="detail-info-container">
                    名稱: 紅茶 <br>
                    價格: 100 <br>
                    說明: 這是一杯好喝的紅茶 <br>
                </div>
                <div class="number-container">
                    <span>數量</span>
                    <input type="number" class="form-control">
                </div>
                <div class="op-container">
                    <button class="btn btn-primary">加入</button>
                </div>
            </div><div class="menu-item">
                <div class="item-img-container">
                    <img src="http://www.foodsafetylife.com/laravel-filemanager/photos/shares/59f02f0f58ce2.jpg" alt="" class="item-img">
                </div>
                <div class="detail-info-container">
                    名稱: 紅茶 <br>
                    價格: 100 <br>
                    說明: 這是一杯好喝的紅茶 <br>
                </div>
                <div class="number-container">
                    <span>數量</span>
                    <input type="number" class="form-control">
                </div>
                <div class="op-container">
                    <button class="btn btn-primary">加入</button>
                </div>
            </div><div class="menu-item">
                <div class="item-img-container">
                    <img src="http://www.foodsafetylife.com/laravel-filemanager/photos/shares/59f02f0f58ce2.jpg" alt="" class="item-img">
                </div>
                <div class="detail-info-container">
                    名稱: 紅茶 <br>
                    價格: 100 <br>
                    說明: 這是一杯好喝的紅茶 <br>
                </div>
                <div class="number-container">
                    <span>數量</span>
                    <input type="number" class="form-control">
                </div>
                <div class="op-container">
                    <button class="btn btn-primary">加入</button>
                </div>
            </div><div class="menu-item">
                <div class="item-img-container">
                    <img src="http://www.foodsafetylife.com/laravel-filemanager/photos/shares/59f02f0f58ce2.jpg" alt="" class="item-img">
                </div>
                <div class="detail-info-container">
                    名稱: 紅茶 <br>
                    價格: 100 <br>
                    說明: 這是一杯好喝的紅茶 <br>
                </div>
                <div class="number-container">
                    <span>數量</span>
                    <input type="number" class="form-control">
                </div>
                <div class="op-container">
                    <button class="btn btn-primary">加入</button>
                </div>
            </div><div class="menu-item">
                <div class="item-img-container">
                    <img src="http://www.foodsafetylife.com/laravel-filemanager/photos/shares/59f02f0f58ce2.jpg" alt="" class="item-img">
                </div>
                <div class="detail-info-container">
                    名稱: 紅茶 <br>
                    價格: 100 <br>
                    說明: 這是一杯好喝的紅茶 <br>
                </div>
                <div class="number-container">
                    <span>數量</span>
                    <input type="number" class="form-control">
                </div>
                <div class="op-container">
                    <button class="btn btn-primary">加入</button>
                </div>
            </div><div class="menu-item">
                <div class="item-img-container">
                    <img src="http://www.foodsafetylife.com/laravel-filemanager/photos/shares/59f02f0f58ce2.jpg" alt="" class="item-img">
                </div>
                <div class="detail-info-container">
                    名稱: 紅茶 <br>
                    價格: 100 <br>
                    說明: 這是一杯好喝的紅茶 <br>
                </div>
                <div class="number-container">
                    <span>數量</span>
                    <input type="number" class="form-control">
                </div>
                <div class="op-container">
                    <button class="btn btn-primary">加入</button>
                </div>
            </div><div class="menu-item">
                <div class="item-img-container">
                    <img src="http://www.foodsafetylife.com/laravel-filemanager/photos/shares/59f02f0f58ce2.jpg" alt="" class="item-img">
                </div>
                <div class="detail-info-container">
                    名稱: 紅茶 <br>
                    價格: 100 <br>
                    說明: 這是一杯好喝的紅茶 <br>
                </div>
                <div class="number-container">
                    <span>數量</span>
                    <input type="number" class="form-control">
                </div>
                <div class="op-container">
                    <button class="btn btn-primary">加入</button>
                </div>
            </div><div class="menu-item">
                <div class="item-img-container">
                    <img src="http://www.foodsafetylife.com/laravel-filemanager/photos/shares/59f02f0f58ce2.jpg" alt="" class="item-img">
                </div>
                <div class="detail-info-container">
                    名稱: 紅茶 <br>
                    價格: 100 <br>
                    說明: 這是一杯好喝的紅茶 <br>
                </div>
                <div class="number-container">
                    <span>數量</span>
                    <input type="number" class="form-control">
                </div>
                <div class="op-container">
                    <button class="btn btn-primary">加入</button>
                </div>
            </div><div class="menu-item">
                <div class="item-img-container">
                    <img src="http://www.foodsafetylife.com/laravel-filemanager/photos/shares/59f02f0f58ce2.jpg" alt="" class="item-img">
                </div>
                <div class="detail-info-container">
                    名稱: 紅茶 <br>
                    價格: 100 <br>
                    說明: 這是一杯好喝的紅茶 <br>
                </div>
                <div class="number-container">
                    <span>數量</span>
                    <input type="number" class="form-control">
                </div>
                <div class="op-container">
                    <button class="btn btn-primary">加入</button>
                </div>
            </div><div class="menu-item">
                <div class="item-img-container">
                    <img src="http://www.foodsafetylife.com/laravel-filemanager/photos/shares/59f02f0f58ce2.jpg" alt="" class="item-img">
                </div>
                <div class="detail-info-container">
                    名稱: 紅茶 <br>
                    價格: 100 <br>
                    說明: 這是一杯不好喝的紅茶 <br>
                    希望成為一杯好喝的紅茶<br>
                </div>
                <div class="number-container">
                    <span>數量</span>
                    <input type="number" class="form-control">
                </div>
                <div class="op-container">
                    <button class="btn btn-primary">加入</button>
                </div>
            </div>
        </div>
        <div class="info-container">
            <div class="search-container">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="type-container">
                <div>種類</div>
                <ul>
                    <li>
                        <a href="">飲料</a>
                    </li>
                    <li>
                        <a href="">漢堡</a>
                    </li>
                    <li>
                        <a href="">三明治</a>
                    </li>
                    <li>
                        <a href="">套餐</a>
                    </li>
                </ul>
            </div>
            <div class="time-container">
                <div>可點餐時段</div>
                <div>星期一 上午8:00-下午12:00</div>
                <div>星期二 上午8:00-下午12:00</div>
                <div>星期三 上午8:00-下午12:00</div>
                <div>星期四 上午8:00-下午12:00</div>
                <div>星期五 上午8:00-下午12:00</div>
            </div>
        </div>
    </div>
{% endblock %}