{% extends "layout.html" %} {% set active_page = "order" %} {% set url = "boss" %} {% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/order.css') }}"> {% endblock %} {% block content %}
<div class="full-container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>預定取餐時間</th>
                <th>數量及項目</th>
                <th>備註</th>
                <th>其他</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr2">
                <td>
                    2019/10/10<br> 09:00
                </td>
                <td>
                    1 * 巧克力吐司 <br> 1 * 豬肉漢堡 <br> 3 * 冰紅茶
                </td>
                <td>
                    冰紅茶一杯去冰<br> 另外兩杯正常冰
                    <br>
                </td>
                <td>
                    <button class="btn btn-primary">拒絕</button>
                    <button class="btn btn-danger">接受</button>
                </td>
            </tr>
            <tr class="tr1">
                <td>
                    2019/10/10<br> 09:00
                </td>
                <td>
                    1 * 巧克力吐司 <br> 1 * 豬肉漢堡 <br> 3 * 冰紅茶
                </td>
                <td>
                    冰紅茶一杯去冰<br> 另外兩杯正常冰
                    <br>
                </td>
                <td>
                    <button class="btn btn-primary">拒絕</button>
                    <button class="btn btn-danger">接受</button>
                </td>
            </tr>
            <tr class="tr2">
                <td>
                    2019/10/10<br> 09:00
                </td>
                <td>
                    1 * 巧克力吐司 <br> 1 * 豬肉漢堡 <br> 3 * 冰紅茶
                </td>
                <td>
                    冰紅茶一杯去冰<br> 另外兩杯正常冰
                    <br>
                </td>
                <td>
                    <button class="btn btn-primary">拒絕</button>
                    <button class="btn btn-danger">接受</button>
                </td>
            </tr>
            <tr class="tr1">
                <td>
                    2019/10/10<br> 09:00
                </td>
                <td>
                    1 * 巧克力吐司 <br> 1 * 豬肉漢堡 <br> 3 * 冰紅茶
                </td>
                <td>
                    冰紅茶一杯去冰<br> 另外兩杯正常冰
                    <br>
                </td>
                <td>
                    <button class="btn btn-primary">拒絕</button>
                    <button class="btn btn-danger">接受</button>
                </td>
            </tr>
            <tr class="tr2">
                <td>
                    2019/10/10<br> 09:00
                </td>
                <td>
                    1 * 巧克力吐司 <br> 1 * 豬肉漢堡 <br> 3 * 冰紅茶
                </td>
                <td>
                    冰紅茶一杯去冰<br> 另外兩杯正常冰
                    <br>
                </td>
                <td>
                    <button class="btn btn-primary">拒絕</button>
                    <button class="btn btn-danger">接受</button>
                </td>
            </tr>
            <tr class="tr1">
                <td>
                    2019/10/10<br> 09:00
                </td>
                <td>
                    1 * 巧克力吐司 <br> 1 * 豬肉漢堡 <br> 3 * 冰紅茶
                </td>
                <td>
                    冰紅茶一杯去冰<br> 另外兩杯正常冰
                    <br>
                </td>
                <td>
                    <button class="btn btn-primary">拒絕</button>
                    <button class="btn btn-danger">接受</button>
                </td>
            </tr>
            <tr class="tr2">
                <td>
                    2019/10/10<br> 09:00
                </td>
                <td>
                    1 * 巧克力吐司 <br> 1 * 豬肉漢堡 <br> 3 * 冰紅茶
                </td>
                <td>
                    冰紅茶一杯去冰<br> 另外兩杯正常冰
                    <br>
                </td>
                <td>
                    <button class="btn btn-primary">拒絕</button>
                    <button class="btn btn-danger">接受</button>
                </td>
            </tr>
            <tr class="tr1">
                <td>
                    2019/10/10<br> 09:00
                </td>
                <td>
                    1 * 巧克力吐司 <br> 1 * 豬肉漢堡 <br> 3 * 冰紅茶
                </td>
                <td>
                    冰紅茶一杯去冰<br> 另外兩杯正常冰
                    <br>
                </td>
                <td>
                    <button class="btn btn-primary">拒絕</button>
                    <button class="btn btn-danger">接受</button>
                </td>
            </tr>
            <tr class="tr2">
                <td>
                    2019/10/10<br> 09:00
                </td>
                <td>
                    1 * 巧克力吐司 <br> 1 * 豬肉漢堡 <br> 3 * 冰紅茶
                </td>
                <td>
                    冰紅茶一杯去冰<br> 另外兩杯正常冰
                    <br>
                </td>
                <td>
                    <button class="btn btn-primary">拒絕</button>
                    <button class="btn btn-danger">接受</button>
                </td>
            </tr>

        </tbody>

    </table>

</div>
{% endblock %}